<div class="row">
    <div class="container-fluid">
        <div class="text-center">
            <h2>{{#str}}campuses, local_buildings{{/str}}</h2>
        </div>
        <div class="float-right">
            <a href="admin/campus.php?id=0" class="btn btn-outline-primary" title="{{#str}}add_campus, local_buildings{{/str}}">{{#str}}add_campus, local_buildings{{/str}}</a> 
        </div>
    </div>
</div>
<div class="card-body">   
    <div class="card-deck">
        {{#campuses}}
        <div class="card mb-2">
            <div class="card-header ">
                <h2>{{{name}}}</h2>
            </div>
            <div class="card-body">
                <h3>{{#str}}number_of_buildings, local_buildings{{/str}}: {{{numberOfBuildings}}}</h3>
            </div>
            <div class="card-footer">
                <a href="admin/buildings.php?campusid={{{id}}}" class="viewCampus btn btn-outline-primary" data-id="{{{id}}}" title="{{#str}}view, local_buildings{{/str}}">
                    <i class="fa fa-eye"></i> {{#str}}view, local_buildings{{/str}}
                </a>
                <a href="admin/campus.php?id={{{id}}}" class="editCampus btn btn-outline-primary" data-id="{{{id}}}" title="{{#str}}edit, local_buildings{{/str}}">
                    <i class="fa fa-edit"></i> {{#str}}edit, local_buildings{{/str}}
                </a>

                <a href="javascript:void(0);"  class="deleteCampus btn btn-outline-danger" data-id="{{{id}}}" title="{{#str}}delete, local_buildings{{/str}}">
                    <i class="fa fa-trash"></i> {{#str}}delete, local_buildings{{/str}}
                </a>
            </div>
        </div>
        {{/campuses}}
    </div>
</div>

{{> local_buildings/delete_modal }}
{{#js}}
require(['local_buildings/buildings'], function(mod) {
mod.init();
});
{{/js}}