<div class="row">
    <div class="container-fluid mb-3">
        <div class="float-right">
            <a href="{{{wwwroot}}}/local/buildings/" class="btn btn-outline-primary" title="{{#str}}dashboard, local_buildings{{/str}}">{{#str}}dashboard, local_buildings{{/str}}</a> 
            <a href="floor.php?id=0&buildingid={{{buildingId}}}" class="btn btn-outline-primary" title="{{#str}}add_floor, local_buildings{{/str}}">{{#str}}add_floor, local_buildings{{/str}}</a> 
            <a href="buildings.php?campusid={{{campusId}}}" class="btn btn-outline-primary" title="{{#str}}buildings, local_buildings{{/str}}">{{#str}}buildings, local_buildings{{/str}}</a> 
        </div>
    </div>
</div>
<table id="floors_table" class="table table-striped">
    <thead>
        <tr>
            <th>
                {{#str}}floor, local_buildings{{/str}}
            </th>
            <th>
                {{#str}}name, local_buildings{{/str}}
            </th>
            <th>
                {{#str}}number_of_rooms, local_buildings{{/str}}
            </th>
            <th>
                {{#str}}color, local_buildings{{/str}}
            </th>
            <th>
                {{#str}}actions, local_buildings{{/str}}
            </th>
        </tr>
    </thead>
    <tbody>
        {{#floors}}
        <tr>
            <td>
                {{{number}}}
            </td>
            <td>
                {{{name}}}
            </td>
            <td>
                {{{numberOfRooms}}}
            </td>
            <td>
                <span style="color: {{{color}}};">{{{color}}}</span>
            </td>
            <td>
                <a href="{{{wwwroot}}}/local/buildings/admin/rooms.php?floorid={{{id}}}" class="btn btn-outline-primary view_building" title="{{#str}}view_rooms, local_buildings{{/str}}">
                    <i class="fa fa-eye"></i> {{#str}}view_rooms, local_buildings{{/str}}
                </a>
                <a href="{{{wwwroot}}}/local/buildings/admin/floor.php?id={{{id}}}" class="btn btn-outline-primary edit_building" title="{{#str}}edit, local_buildings{{/str}}">
                    <i class="fa fa-pencil"></i> {{#str}}edit, local_buildings{{/str}}
                </a>
                <a href="javascript:void(0);" class="btn btn-outline-danger delete_floor" data-id="{{{id}}}" title="{{#str}}delete, local_buildings{{/str}}">
                    <i class="fa fa-trash"></i> {{#str}}delete, local_buildings{{/str}}
                </a>
            </td>
        </tr>
        {{/floors}}
    </tbody>    
</table>
{{> local_buildings/delete_modal }}
{{#js}}
require(['local_buildings/floors'], function(mod) {
mod.init();
});
{{/js}}